{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load custom_template_tags %}

{% block content %} 

<!-- Navbar -->
<nav class="navbar container mt-4 mb-4">
  <div class="container-fluid">
    <span class="navbar-brand mb-0"><h1>Pubs & Bars</h1></span>
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-custom-yellow" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" data-bs-auto-close="outside">
            <i class="fa fa-filter fa-lg"></i>
            Filters
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <!-- Filtering -->
            <form method="get" class="filter-form">
                <div style="display: grid"> 
                    {{filter.form|crispy}}
                </div>
                <button type="submit" class="btn btn-dark mt-2 me-2">Filter</button>
                <a class="btn btn-secondary mt-2" href="{% url 'pubs_list' %}">Clear filters</a>
            </form>
        </ul>
      </div>
  </div>
</nav>
<!-- List -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Open Time</th>
                            <th scope="col">Close Time</th>
                            <th scope="col">Beer Rating</th>
                            <th scope="col">Outside Tables</th>
                            <th scope="col">Foosball</th>
                            <th scope="col">Overall Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs_list %}
                            <tr>
                                <td>{{pub.name}}</td>
                                <td><a href="{{ pub.map_url }}" target="_blank">Maps Link</a></td>
                                <td>{{ pub.open_time }}</td>
                                <td>{{ pub.close_time }}</td>
                                <td>
                                    {% if pub.beer_rating == None %}
                                        -
                                    {% else %}
                                        {% for rating_point in pub.beer_rating|create_range %}
                                            🍺
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ pub.outside_tables|yesno:"✅,❌,-" }}</td>
                                <td>{{ pub.foosball|yesno:"✅,❌,-" }}</td>
                                <td>
                                    {% if pub.overall_rating == None %}
                                        -
                                    {% else %}
                                        {% for rating_point in pub.overall_rating|create_range %}
                                            ⭐️
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Pagination -->
<div class="pagination container justify-content-center mt-4">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if querystring %}&amp;{{ querystring }}{% endif %}">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="">First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link current-page no-hover">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if querystring %}&amp;{{ querystring }}{% endif %}">Last</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="">Last</a>
        </li>
        {% endif %}
    </ul>
</div>

<footer class="footer"><a href="https://documenter.getpostman.com/view/20820622/Uz5Knavg" target=”_blank”>API Documentation</a></footer>

{% endblock content %}