{% extends 'base.html' %}

{% block content %}
    
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Prague</h1>
        <h1 class="display-4">🍻 Pubs & Bars 🍻</h1>
        <p class="lead">Do you want to visit new pubs without the risk of being disappointed?</p>
        <hr class="my-4">
        <p>We've got you covered. On this website you will find list of Prague's Pubs and Bars with all the information you will need.</p>
        <a class="btn btn-warning btn-lg" href="{% url 'pubs_list' %}" role="button">Show Me!</a>
    </div>
</div>

{% endblock content %}
    